<label for="">Keresés Név szerint:</label>
<input class="m-3" type="text" placeholder="search" [(ngModel)]="phrase">
<table class="table">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        name
      </th>
      <th>
        super power
      </th>
      <th>
        address
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes | filter: phrase: key">
      <td>
        {{hero.id}}
      </td>
      <td>
        {{hero.name}}
      </td>
      <td>
        {{hero.superPower}}
      </td>
      <td>
        {{hero.address}}
      </td>
    </tr>
  </tbody>
</table>
